body {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
}

#wrap {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}

h1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.meta {
  color: #888;
  font-size: 80%;
}

.item {
  border-bottom: 1px solid #aaa;
  padding: 5px;
}

.clear {
  clear: both;
}

#account {
  float: right;
}

input.full_width: {
  width: 97%;
}